.hidden-total-price {
    display: none;
}
  
.new-rental-modal {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
}

.header_height {
    height: 71px;
}

.detail_header {
    margin-bottom: 0px;
    padding-bottom: 19px;
}   